/* ----- LEGAL DOCUMENTS ----- */

.title-legal-document {
  font-size: 3rem;
  font-family: sans-serif;
  color: var(--color-text);
}

.title-legal {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
  font-family: sans-serif;
  color: var(--color-text);
}

.subtitle-legal {
  font-size: 18px;
  font-weight: 600;
  margin-left: 10px;
  margin-bottom: 10px;
  font-family: sans-serif;
  color: var(--color-text);
}

.text-legal {
  font-size: 16px;
  margin-bottom: 10px;
  font-family: sans-serif;
  color: var(--color-text);
}

table {
  color: var(--color-text);
  font-family: sans-serif;
  width: 100%;
  border: 1px solid black;
  margin-bottom: 15px;
}

table th {
  border: 1px solid black;
  padding: 3px;
}

table tr {
  font-size: 16px;
  font-weight: 500;
}

table td {
  border: 1px solid black;
  padding: 3px;
}

/* ----- LEGAL DOCUMENTS END ----- */
